html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */

* {
    font-family: "Roboto", sans-serif;
}

.sct-date,
.footer-text,
.copyright {
    font-size: 1.2rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 3.2rem;
    padding: 0.25em 0;
}

h3 {
    font-size: 2.4rem;
    padding-bottom: 0.375em;
}

nav a {
    font-size: 1.2rem;
    color: #090909;
    text-decoration: none;
}

.sct-text {
    font-size: 1.6rem;
    padding-bottom: 1.5em;
}

.article-date {
    font-size: 1.4rem;
    padding-top: 1em;
    padding-bottom: 0.65em;
}

.article-text {
    font-size: 1.6rem;
}

.view-more {
    display: block;
    color: #000000;
    font-size: 1.6rem; 
}

.footer-text {
    font-weight:700;
    line-height: 1.2;
}

.copyright {
    font-weight: 400;
    line-height: 1.5;
}

@media (min-width: 675px) {
    .sct-date,
    .footer-text,
    .copyright {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    nav a {
        font-size: 1.6rem;
    }
}

/* HEADER */

header, .logo-container, nav ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    position:fixed;
    top: 0;
    width: 100%
}

.logo-container {
    padding-left: 2.4rem;
} 

.logo {
    object-fit: cover;
    height: 23px;
    width: auto;
    display: block;
    padding-right: 0.5em;
}

nav li {
    list-style-type: none;
    padding-right: 2.4em;
}

nav li:hover,
nav li:focus {
    opacity: 0.7;
}

/* TOP SECTION */

section {
    width: 100%;
    color: #fff;
    margin-top: 6em;
    background-image: url(/images/article-image-hero.png);
    background-size:cover;
    height: 300px;
    display: flex;
    flex-flow:column;
    justify-content: flex-end;
}

.sct-container {
    width: 90%;
    margin: 0 auto;
    display: block;
}

/* ARTICLES */

.article-container {
    display:flex;
    flex-flow:column;
    align-items: center;
    width: 100%;
}

article {
    max-width: 375px;
    width: 90%;
}

.article-img {
    width: 100%;
    display: block;
    padding-top: 3.4em;
    object-fit: cover;
}

.view-more {
    padding-top: 1.65em;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #fff;
    text-decoration: underline;
}
.view-more:hover,
.view-more:focus {
    opacity: 0.75;
}

@media (min-width: 675px) {
    .sct-container {
        width: 70%;
        margin: 0 0 1em 3em;
    }

    .article-container {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 350px));
        justify-content: center;
        grid-gap: 5em;
    }  

    article {
        width: auto;
    }
}

/* FOOTER */

footer {
    color: #D7D7D7;
    background-color: #202020;
    text-align: center;
    padding: 4em 0;
    margin-top: 4em;
}

.hidden {
    display: none;
}